.banner {
    width: 100%; /*A imagem do banner tem 1920px 347px*/
    height: 347px;
    /*background-image: url('../../images/banner-assistir.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 58px;
}